astroid
autopep8
colorama
dj-database-url
dj-static
Django
gunicorn
isort
lazy-object-proxy
mccabe
pycodestyle
pylint
pylint-django
pylint-plugin-utils
pytz
six
sqlparse
static3
typed-ast
wrapt
psycopg2
djangorestframework
itsdangerous
requests